<!DOCTYPE html>
<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>LightWAVE [local]</title>
<!-- -{##}->{% include "lightwave/lw-head.html" %}<!-{##}- -->
<link rel="stylesheet" href="css/jquery-ui.min.css">
<link rel="stylesheet" href="css/lightwave.css">
<script src="js/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/lightwave.js"></script>
<noscript><style>.js { display: none; }</style></noscript>
</head>
<!--
LightWAVE main page	G. Moody	18 November 2012
			Last revised:	  23 April 2019    version 0.68

LightWAVE is a lightweight waveform and annotation viewer and editor.  Use it
to view any of the recordings of physiologic signals and time series in
PhysioBank, together with their annotations (event markers).

LightWAVE runs within any modern web browser and does not require installation
on the user's computer, tablet, or phone.  LightWAVE is free software licensed
under the GPL.

This file contains the main HTML5 page, which is the starting point for using
LightWAVE.  When a JavaScript-enabled web browser loads this page, it also loads
the .css and .js files mentioned above, including lightwave.css
(LightWAVE-specific styles) and lightwave.js (LightWAVE-specific JavaScript
code, which runs within the browser to provide low-latency interaction with the
user).  The other .css and .js files are recent unmodified versions of standard
jQuery and jQuery UI components.
-->
<body>
<!-- -{##}->{% include "lightwave/lw-top.html" %}<!-{##}- -->
<noscript>
<p>LightWAVE requires a Javascript-enabled browser.
The <a href="http://physionet.org/cgi-bin/ATM">PhysioBank ATM</a>
provides some of the functions of LightWAVE without Javascript.
</noscript>

<div id="top" style='display: none'>
<div class="js">
<div id="tabs">
<ul>
<li><a href="#choose">Chọn đầu vào</a></li>
<li><a href="#view">Xem/Chỉnh sửa</a></li>
<li><a href="#tables">Bảng</a></li>
<li><a href="#settings">Cài đặt</a></li>
<li><a href="#help">Trợ giúp</a></li>
</ul>

<form id="lwform">

<!-- *** 'Choose input' panel *** -->

<div id="choose">
 <table>
  <tr id="dblist"><td colspan=3>Loading LightWAVE ...</td></tr>

  <tr><td id="rlname" align="right">&nbsp;</td>
      <td><span id="rlist">&nbsp;</span><span id="rslist">&nbsp;</span></td>
  </tr>

  <tr><td colspan=2 align="center" id="prompt">
    Lần đầu truy cập? Nhấp vào tab <b>Trợ giúp</b> ở trên.</td></tr>
 </table>
</div>

<!-- *** 'View/edit' panel *** -->

<div id="view">
 <table width="100%">
  <tr>
    <td width="25%"><div style="font-size: 14px; text-align: center">Đi tới:
      <input type="text" name="t0" class="t0_str" value="" tabindex="1"
	     title="Nhập thời gian đã trôi qua từ khi bắt đầu bản ghi đến khi bắt đầu cửa sổ, sau đó nhấp chuột '&#x21b4;'"
	     placeholder="HH:MM:SS" size="10">
      <button class="go_to" tabindex="2"
		    title="Làm mới cửa sổ tín hiệu">&#x21b4;</button></div>
    </td>

    <td width="50%"><div style="font-size: 14px; text-align: center">
      <button class="sor" tabindex="8"
		    title="Đến điểm bắt đầu bản ghi">|&#9665;</button>
      <button class="rev" tabindex="4"
		    title="Cửa sổ trước">&#9665;</button>
      <button class="scrollrev" tabindex="4"
		    title="bắt đầu/dừng phát bản ghi (ngược lại)">&#9664;</button>
      <button class="scrollfwd" tabindex="4"
		    title="bắt đầu/dừng phát bản ghi (tiến lên)">&#9654;</button>
      <button class="fwd" tabindex="3"
		    title="Cửa sổ kế tiếp">&#9655;</button>
      <button class="eor" tabindex="7"
		    title="Đến điểm kết thúc bản ghi">&#9655;|</button>
      <br>
      <button class="srev" tabindex="5" title="Chuyển đến kết quả trước đó">&#9665; Trước</button>
      <button class="find" tabindex="9" title="Nhập từ khóa để tìm kiếm">Tìm kiếm...</button>
      <button class="sfwd" tabindex="6" title="Chuyển đến kết quả tiếp theo">Tiếp &#9655;</button>
      </div>
    </td>
    </span>
    <td align=right width="25%">
      <span class="recann"></span><br><span class="pointer">&nbsp;</span></td>
  </tr>
 </table>

 <div id="findbox" title="Tìm kiếm...">
 <table width="100%">
 <tr><td align="center" title="Nhập một ký hiệu gán nhãn (N, V, S, ...)
hoặc một chuỗi 'aux', hoặc một trong các tùy chọn sau:
*v để khớp với bất kỳ nhịp ngoại tâm thu thất nào
*s để khớp với bất kỳ nhịp ngoại tâm thu trên thất nào
*n để khớp với bất kỳ loại nhịp khác
*để khớp với bất kỳ nhãn hoặc dấu hiệu nào">Tìm&nbsp;kiếm:&nbsp;<input
  type="text" name="target" id="target" value="" size="4"></td></tr>
 <tr><td id="annsets" align="center">&nbsp;</td></tr>
 <tr><td align="center">
<button class="srev" title="Tìm kết quả trước">&#9665; Trước</button>
<button class="sfwd" title="Tìm kết quả tiếp theo">Tiếp &#9655;</button><br>
 </td></tr></table>
 </div>

 <div id="add_typebox" title="Thêm một loại nhãn mới">
 <table width="100%">
 <tr title='Chọn loại gán nhãn chính. Nếu lựa chọn 
 mong muốn không có trong danh sách, hãy chọn " (ghi chú) 
 và nhập loại đó dưới dạng chuỗi Aux.'>
   <td align="right">Loại&nbsp;gán&nbsp;nhãn:&nbsp;</td>
   <td align="left">
    <select name="edita" id="edita">
      <option value="N" selected>N (nhịp bình thường [hiển thị dưới dạng &bull;])</option>
      <option value="L">L (nhịp block nhánh trái)</option>
      <option value="R">R (nhịp block nhánh phải)</option>
      <option value="B">B (nhịp block nhánh [trái hoặc phải])</option>
      <option value="A">A (nhịp sớm nhĩ)</option>
      <option value="a">a (nhịp sớm nhĩ dẫn truyền lệch)</option>
      <option value="J">J (nhịp sớm nút nhĩ thất)</option>
      <option value="S">S (nhịp sớm trên thất [A hoặc J])</option>
      <option value="V">V (ngoại tâm thu thất)</option>
      <option value="r">r (ngoại tâm thu thất rơi vào sóng T)</option>
      <option value="F">F (hợp nhịp giữa V và N)</option>
      <option value="e">e (nhịp thoát nhĩ)</option>
      <option value="j">j (nhịp thoát nút nhĩ thất)</option>
      <option value="n">n (nhịp thoát trên thất [e hoặc j])</option>
      <option value="E">E (nhịp thoát thất)</option>
      <option value="/">/ (nhịp tạo nhịp nhân tạo)</option>
      <option value="f">f (hợp nhịp giữa / và N)</option>
      <option value="Q">Q (nhịp không phân loại được)</option>
      <option disabled>&nbsp;&nbsp;[đỉnh sóng và giới hạn]</option>
      <option value="(">( (khởi đầu sóng)</option>
      <option value=")">) (kết thúc sóng)</option>
      <option value="p">p (đỉnh sóng P)</option>
      <option value="t">t (đỉnh sóng T)</option>
      <option value="u">u (đỉnh sóng U)</option>
      <option value="`">` (nối PQ)</option>
      <option value="'">' (điểm J)</option>
      <option disabled>&nbsp;&nbsp;[các loại không phải nhịp]</option>
      <option value="|">| (nhiễu giống QRS đơn lẻ)</option>
      <option value="+">+ (thay đổi nhịp [nhập nhịp mới trong aux])</option>
      <option value="s">s (thay đổi đoạn ST [mô tả trong aux])</option>
      <option value="~">~ (thay đổi chất lượng tín hiệu [mô tả trong aux])</option>
      <option value='"'>" (ghi chú [nhập ghi chú trong aux])</option>
      </select>
    </td>
 </tr>
 <tr title='Nhịp tim mới, ghi chú, v.v.
Sử dụng loại nhãn "+" để đánh dấu sự thay đổi nhịp tim.
Chuỗi phụ trợ tiêu chuẩn cho nhịp tim bắt đầu bằng "(":

(AB Ngoại tâm thu nhĩ nhịp đôi
(AFIB Rung nhĩ
(AFL Cuồng nhĩ
(B Ngoại tâm thu thất nhịp đôi
(BII Block nhĩ thất cấp độ 2
(IVR Nhịp tự động thất
(N Nhịp xoang bình thường
(NOD Nhịp nút nhĩ thất
(P Nhịp tạo nhịp nhân tạo
(PREX Hội chứng kích thích sớm (WPW)
(SBR Nhịp chậm xoang
(SVTA Nhịp nhanh trên thất
(T Ngoại tâm thu thất nhịp ba
(VFIB Rung thất
(VFL Cuồng thất
(VT Nhịp nhanh thất'>
   <td align="right">Chuỗi&nbsp;phụ&nbsp;(Aux):&nbsp;</td>
   <td align="left"><input type="text" name="editx" id="editx" value=""></td>
 </tr>
 <tr>
  <td align="right">S/C/N:&nbsp;</td>
  <td align="left">
    <input type="text" name="edits" id="edits" size="4" value=""
           title="Phân loại phụ (một số nguyên từ -128 đến 127)">/
    <input type="text" name="editc" id="editc" size="3" value=""
           title="Kênh (một số nguyên từ 0 đến 255)">/
    <input type="text" name="editn" id="editn" size="4" value=""
           title="Số thứ tự (một số nguyên từ -128 đến 127)">
    (chỉ áp dụng cho gán nhãn hiện tại)
  </td>
 </tr>
</table>

<p>Xem <em>Chủ đề trợ giúp</em> -> <em>Các loại gán nhãn tiêu chuẩn</em> để biết thêm.</p>

</div>

 <div style="position: relative; margin-top: -1.2em"></div>
 <div id="plotdata"></div>
  <!--[if lt IE 9]>
  <p> MSIE versions 8 and earlier do not support LightWAVE's SVG graphics.
  MSIE 6, 7, and 8 can be used to run modern web apps such as LightWAVE if you
  install <a href="http://www.google.com/chromeframe">Google Chrome Frame</a>
  (a free plugin).  Browsers such as Chrome, Firefox, Opera, Safari,
  and MSIE 9+ have built-in support for SVG and work well with LightWAVE.
 <![endif]-->

 <table width="100%">
  <tr>
    <td align=left width="25%"><div style="font-size: 14px">
	<button class="stretch"
		title="Phóng to tín hiệu được đánh dấu">&#9650;</button>
	<button class="reset"
		title="Đặt lại tín hiệu được đánh dấu">=</button>
	<button class="shrink"
		title="Thu nhỏ tín hiệu được đánh dấu">&#9660;</button>
    </td>

   <td align=right width="25%" class="editgroup" style="font-size: 14px">
      <table title="Bảng nhãn"
	   style="text-align: center; vertical-align: middle;
		  border: 1px dotted gray; padding: 2px">
	<tr>
	  <td width="30%" style="text-align: center; vertical-align: middle">
	    <span>
	      <button style="background: #8d8" id="add_type"
		      title="Thêm một loại mới vào bảng nhãn"><b>Thêm nhãn</b></button>
	      <button title="Sao chép mục đã chọn vào bảng nhãn" id="copyann"
		      style="background: #8d8">Sao chép</button>
	    </span>
	    <button style="color: red; background-color: white"
		    id="insert_mode" title="Đặt chế độ xóa (nhấp vào bất kỳ nút nào khác trong nhóm này để chuyển sang chế độ chèn)">&#9003;</button>
	  </td>
	  <td style="text-align: right; vertical-align: middle" id="palette">
	    Đang tải bảng nhãn...
	</td></tr>
      </table>
    </td>

    <td align=left width="25%" class="editgroup" style="font-size: 14px">
      <div style="text-align: center; vertical-align: middle">
	<button title="Chọn nhãn ở bên trái điểm chỉnh sửa"
		id="jumpleft">&#8676;</button>
	<button title="Di chuyển điểm chỉnh sửa sang trái"
		id="nudgeleft">&#8612;</button>
	<button title="Di chuyển điểm chỉnh sửa sang phải"
		id="nudgeright">&#8614;</button>
	<button title="Chọn nhãn ở bên phải điểm chỉnh sửa"
		id="jumpright">&#8677;</button><br>
	<button title="Khôi phục trạng thái trước chỉnh sửa gần nhất"
		id="undo">Hoàn tác</button>
	<button id="mark" title="Hoàn tất chỉnh sửa đang chờ xử lý">Đánh dấu</button>
	<button id="redo" title="Áp dụng lại chỉnh sửa gần nhất">Làm lại</button>
      </div>
    </td>

    <td align=right width="25%">
      <div style="font-size: 10px;">
	<label for="dtslider">Thời lượng cửa sổ bản ghi:</label>
	<input type="text" id="swidth" value="10"
	       style="border: 0; width: 2em; font-weight: bold"/><span id="dtsliderunits">giây</span>
      </div>
      <div id="dtslider"></div>
    </td>
  </tr>
 </table>
</div>

<!-- *** 'Tables' panel *** -->

<div id="tables">
 <table width="100%">
  <tr><td align=left>
      <div style="font-size: 14px; text-align: center">Đi tới:
      <input type="text" name="t0" class="t0_str" value="" tabindex="1"
	     title="Nhập thời gian đã trôi qua từ khi bắt đầu bản ghi đến khi bắt đầu cửa sổ, sau đó nhấp chuột '&#x21b4;'"
	     placeholder="HH:MM:SS" size="10">
      <button class="go_to" tabindex="2"
	  title="Hiển thị nhãn/tín hiệu từ cửa sổ tín hiệu nếu được chọn bên dưới">&#x21b4;</button>
      <br>
      <input type="checkbox" id="viewann" />Xem nhãn dưới dạng văn bản&nbsp;&nbsp;
      <input type="checkbox" id="viewsig" />Xem tín hiệu dưới dạng văn bản
    </div></td>

    <td><div style="font-size: 14px; text-align: center">
      <button class="sor" tabindex="8"
		    title="start of record">|&#9665;</button>
      <button class="rev" tabindex="4"
		    title="previous window">&#9665;</button>
      <button class="fwd" tabindex="3"
		    title="next window">&#9655;</button>
      <button class="eor" tabindex="7"
		    title="end of record">&#9655;|</button>
      <br>
      <button class="srev" tabindex="5" title="Chuyển đến kết quả trước đó">&#9665; Trước</button>
      <button class="find" tabindex="9" title="Nhập từ khóa để tìm kiếm">Tìm kiếm...</button>
      <button class="sfwd" tabindex="6" title="Chuyển đến kết quả tiếp theo">Tiếp &#9655;</button>
      </div>
    </td>
    </span>
    <td align=right>
      <span class="recann"></span><br><span class="pointer">&nbsp;</span></td>
  </tr>
 </table>
<hr>
 <div id="info"></div>
<hr>
 <div id="anndata"></div>
 <div id="sigdata"></div>
</div>

<!-- *** 'Settings' panel *** -->

<div id="settings">

 <table width="100%">
  <tr>
    <td align="left">Server:
      <span id="server"><input type="text" name="server" size="50"
	title="URL of LightWAVE server (reload to restore default)"></span>
      </td>
      <td><span id="sversion">&nbsp;</span></td>
    <td align="right" width="40%"><div class="recann"></div></td>
  </tr>
  <tr>
    <td align="left">Client: <span id="client">lightwave</span></td>
    <td><span id="cversion">version [local]</span></td>
  </tr>
  <tr>
    <td align="left">Scribe:
      <span id="scribe"><input type="text" name="scribe" size="50"
      title="URL of LightWAVE's edit backup server (reload to restore default)">
      </span></td>
  </tr>
 </table>

 <h3>Chỉnh sửa</h3>
 <table>
  <tr><td>
      <div id="edit_mode">
	<input type="radio" id="no_edit" name="edit_mode" checked="checked">
	  <label for="no_edit">Chỉ xem (không chỉnh sửa)</label>
	<input type="radio" id="mouse_edit" name="edit_mode">
	  <label for="mouse_edit">Chỉnh sửa bằng chuột</label>
	<input type="radio" id="touch_edit" name="edit_mode">
	  <label for="touch_edit">Chỉnh sửa bằng cách chạm</label>
      </div>
  </td></tr>
</table>

<p>
<table width="100%">
  <tr>
    <td width="50%">
	<button id="new_annset">Thiết lập bộ nhãn mới</button>
	<br>
	<button title="Hiển thị nhật ký chỉnh sửa hiện tại, mới nhất trước"
		id="show_edits">Hiển thị nhật ký chỉnh sửa đang chờ xử lý</button>
	<br><br>
	<button title="Sao lưu nhật ký chỉnh sửa hiện tại"
		id="sync_edits">Lưu các chỉnh sửa</button>
    </td>
    <td align="right" width="45%">
      <button title="Hiển thị bộ đếm của tổng số yêu cầu và yêu cầu đang chờ xử lý"
	      id="show_status">Hiển thị trạng thái</button>
      <br>
      <button title="Hiển thị nhật ký yêu cầu, mới nhất trước"
	      id="show_requests">Hiển thị nhật ký yêu cầu</button>
      <br><br>
      <button title="Xóa nhật ký yêu cầu và bộ đếm"
	      id="clear_requests">Đặt lại nhật ký yêu cầu</button>
    </td>
  </tr>
  <tr><td><div id="syncnote"></div></td>
      <td><div id="status" style="display: none"></div></td></tr>
 </table>
</div>

<!-- *** 'Help' panel *** -->

<div id="help">

 <table width="100%">
  <tr><td align="left">
   <button id="help_about" title="Giới thiệu về LightWAVE: tổng quan, hướng dẫn bắt đầu và các liên kết để tìm hiểu thêm">Trợ giúp chính</button>
   <button id="help_topics" title="Mục lục chủ đề">Chủ đề trợ giúp</button>
   <button id="help_contacts"
   title="">Contacts</button></td>
   <td align="right"><div class="recann"></div></td>
  </tr>
 </table>

 <iframe id="helpframe" src="" width="100%" style="border: none"></iframe>
</div>

</form>
</div>  <!-- end of "tabs" div -->

<table width="99%"><tr><td width="50%" valign="top">
<div id="editlog" style="display: none"></div>
&nbsp;</td><td width="45%" valign="top">&nbsp;
<div id="requests" style="display: none"></div>
</td></tr></table>
</div>  <!-- end of "js" div -->
</div>  <!-- end of "top" div -->
<!-- -{##}->{% include "lightwave/lw-bottom.html" %}<!-{##}- -->
</body>
</html>